@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:ital,wght@0,300;0,400;1,300&display=swap');


* {
    box-sizing: border-box;
        margin: 0;
        padding: 0;
}

@media only screen and (min-width: 320px) {

    body {
        min-width: 320px;
    }

            .header{
                width: 100%;
                height: 70px;
                position: fixed;
                top: 0px;
                background-color: white;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
                z-index: 5;
            
                .header-text{
                    font-family: "raleway", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 37px;
                    color: #08a6e4;
                    display: inline-block;
                    margin: 16px 25px;
                }
            }

                // MENU MOBILE

                .header-button{
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    cursor: pointer;
                }

                .menu-items {
                    display: none;

                    & a{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 11px;
                        line-height: 15px;
                        text-align: center;
                        letter-spacing: 3.28px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #A5A5A5;

                        &:hover {
                            color: #000000;
                            font-weight: bold;
                    }
                }

                    & li{
                        padding: 14px 0px 0px 25px;
                    }
                }
                
                input[type="checkbox"] {
                    display: none;
                }
                
                    input[type="checkbox"]:checked + .header-button img {
                        display: none;
                    }
                    
                    input[type="checkbox"]:checked + .header-button::before {
                        content:"X";
                    }
                
                input[type="checkbox"]:checked ~ .menu-items {
                    display: block;
                    position: absolute;
                    height: 163px;
                    top: 60px;
                    left: 0;
                    width: 100%;
                    margin-top: 10px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
                    list-style-type: none;
                }

// MAIN

                .title {
                    margin-top: 170px;
                    text-align: center;
                    color: #000000;

                        .title-primary{
                            font-family: "raleway", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 35px;
                            line-height: 41px;
                        }

                        .title-secondary{
                            margin: 20px 33px 28px;
                            font-family: "Open Sans", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 23px;
                        }

                        .title-button{
                            height: 67px;
                            width: 90%;
                            background: #08A6E4;
                            border: #08A6E4;
                            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
                            border-radius: 40px;
                            cursor: pointer;

                            & p{
                                    font-family: "Open Sans", sans-serif;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 22px;
                                    text-align: center;
                                    color: #FFFFFF;
                            }
                        }
                    }

                    .background{

                        & div{
                        width: 100%;
                        height: 267px;
                        background-image: url(./img/Background.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-top: 51px;
                    }
                        & p{
                            font-family: "raleway", sans-serif;
                            font-weight: 300;
                            font-size: 30px;
                            line-height: 35px;
                            text-align: center;
                            margin: 13px 36px 25px;
                        }
                    }

                    .vector{
                        text-align: center;

                        .vector-number{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 5.96px;
                            margin: 14px 0 19px;
                        }

                        .vector-text{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 20px;
                            color: #A5A5A5;
                            margin-bottom: 25px;
                        }
                    }

                    .article-first{
                        height: 370px;
                        border: 1px solid #E8E9ED;
                        margin: 42px 30px 0;
                        border-radius: 5px;
                        position: relative;
                        
                        .first-img-1{
                            position: absolute;
                            top: 37px;
                            right: 25%;
                            z-index:1 ;
                        }

                        .first-img-2{
                            position: absolute;
                            top: 15px;
                            right: 25%;
                            border-radius: 41px;
                        }

                        .first-img-3{
                            position: absolute;
                            top: 19px;
                            right: 50px;
                            z-index:1 ;
                        }

                        .first-img-4{
                            position: absolute;
                            top: 15px;
                            right: 93px;
                        }
                        
                        h4{
                            height: 72px;
                            width: 80%;
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 35px;
                            margin: 174px 94px 10px 22px;
                        }

                        p{
                            font-family: "Open Sans", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            margin: 0 21px 30px;
                        }
                    }

                    .article-first-text{
                        height: 100%;
                        border: 1px solid #E8E9ED;
                        margin: 42px 30px 0;
                        border-radius: 5px;
                        position: relative;

                        .brand-title{
                            margin: 31px 20px 20px;
                        }

                        .brand-text{
                            margin: 0px 20px 24px;
                        }

                        h4{
                            width: 80%;
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 35px;
                            margin: 174px 94px 10px 22px;
                        }

                        p{
                            font-family: "Open Sans", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 21px;
                            margin: 0 21px 30px;
                        }
                    }

                    .article-trumpet{
                        position: relative;
                        margin: 0px 30px 100px;
                        background-color:  #55DFB4;
                        border-radius: 5px;

                        .first-img-6{
                            margin-top: 25px;
                            width: 90%;
                            max-width: 350px;
                        }
                    }
                
                .price{
                    position: relative;

                    & h3{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 42px;
                        text-align: center;
                        margin-bottom: 14px;
                    }
                    .price-basic{
                        position: relative;
                        border: 1px solid #FB3B64;
                        border-radius: 18px;
                        margin: 0px 11% 54px;
                        display: table;
                        width: 75%;
                        padding: 25px 0;
                        

                        & div{
                            display: table-cell;
                            vertical-align: middle;
                            width: 50%;
                        }

                        .basic-number{
                            text-align: center;

                            & h5{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 24px;
                                color: #13253B;
                            }

                            .cost{
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 46px;
                                line-height: 64px;
                                color: #FB3B64;
                            }

                            .offer{
                                    font-family: 'Raleway';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #13253B;
                                }
                        }

                        .basic-text{
                            text-align: left;

                                li{
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 19px;
                                list-style-type: none;
                                margin-bottom: 20px;
                                } 

                                & img{
                                    width: 14px;
                                    margin-right: 10px;
                                }
                        }
                    }
                        .basic-button{
                            position: absolute;
                            bottom: -25px;
                            left:25%;
                            width: 50%;
                            height: 50px;
                            background: #EB476E;
                            border: 1px solid #FB3B64;
                            border-radius: 23px;
                            cursor: pointer;

                            & p{
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 18px;
                                color: #FFFFFF;
                            }
                        }                     

                        .price-professional{
                            position: relative;
                            border: 1px solid #07ACE6;
                            border-radius: 18px;
                            box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
                            margin: 0px 5% 54px;
                            display: table;
                            width: 87%;
                            padding: 50px 0;
                            
        
                            & div{
                                display: table-cell;
                                vertical-align: middle;
                                width: 50%;
                            }
        
                            .professional-number{
                                text-align: center;
        
                                & h5{
                                    font-family: 'Raleway';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 20px;
                                    line-height: 24px;
                                    color: #13253B;
                                }
        
                                .cost{
                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 46px;
                                    line-height: 64px;
                                    color: #07ACE6;
                                }
        
                                .offer{
                                        font-family: 'Raleway';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 12px;
                                        line-height: 14px;
                                        color: #13253B;
                                    }
                            }
        
                            .professional-text{
                                text-align: left;
        
                                    li{
                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 19px;
                                    list-style-type: none;
                                    margin-bottom: 20px;
                                    } 
        
                                    & img{
                                        width: 14px;
                                        margin-right: 10px;
                                    }
                            }
                        
                        .professional-button{
                            position: absolute;
                            bottom: -25px;
                            left:25%;
                            width: 50%;
                            height: 50px;
                            background: #07ACE6;
                            border: 1px solid #07ACE6;
                            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
                            border-radius: 23px;
                            cursor: pointer;
        
                            & p{
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 18px;
                                color: #FFFFFF;
                    }
                }
            }

            .price-premium{
                position: relative;
                border: 1px solid #55DFB4;
                border-radius: 18px;
                margin: 0px 11% 54px;
                display: table;
                width: 75%;
                padding: 25px 0;
                

                & div{
                    display: table-cell;
                    vertical-align: middle;
                    width: 50%;
                }

                .premium-number{
                    text-align: center;

                    & h5{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #13253B;
                    }

                    .cost{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 46px;
                        line-height: 64px;
                        color: #55DFB4;
                    }

                    .offer{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 14px;
                            color: #13253B;
                        }
                }

                .premium-text{
                    text-align: left;

                        li{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        list-style-type: none;
                        margin-bottom: 20px;
                        } 

                        & img{
                            width: 14px;
                            margin-right: 10px;
                        }
                }
            
            .premium-button{
                position: absolute;
                bottom: -25px;
                left:25%;
                width: 50%;
                height: 50px;
                background: #55DFB4;
                border: 1px solid #55DFB4;
                border-radius: 23px;
                cursor: pointer;

                & p{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    color: #FFFFFF;
            }
        }
    }
}

            .form{
                position: relative;
                margin-left: 8%;
                
                h2{
                    margin: 50px 0px 5px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 47px;
                }

                p{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 38px;
                }

                .contact{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #A5A5A5;
                    margin-bottom: 17px;

                    & img{
                        margin-right: 11px;
                    }
                }

                label{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 15px;
                    letter-spacing: 3.28px;
                    color: #08A6E4;
                    margin-bottom: 42px;
                }

                    input{
                        margin: 42px 0px;
                        border:none;
                        border-bottom:1px solid #95989A;
                    }

                .protect{
                    position: relative;
                    display: table;
                    width: 85%;
                }

                .check-protect{
                    display: table-cell;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                    .text-protect{
                        height: 144px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #707070;
                        display: table-cell;
                        vertical-align: middle;
                        width: 95%;
                        
                    }
                #button-send{
                    height: 57px;
                    width:60%;
                    background: #08A6E4;
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    border: 1px solid #08A6E4;
                    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
                    border-radius: 35px;
                    margin: 33px 0px 0px 31% ;
                    cursor: pointer;
                    }
                    
                }
// FOOTER

        footer{
            position: relative;
            width: 100%;
            height: 89px;
            left: 0px;
            bottom: 0px;
            margin-top: 44px;
            background: #F7F7F7;
            box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);

            .footer-text{
                font-family: "raleway", sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 26px;
                line-height: 30px;
                color: #08a6e4;
                display: inline-block;
                margin: 22px 0px 0px 5%;
            }

            .footer-copyright{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 15px;
                color: #A5A5A5;
                margin-left: 5%;
            }

            .social{
                position: absolute;
                top: 33px;
                right:30px;

                & img {
                    margin: 0px 5px 0px;
                    cursor: pointer;
                }
            }


        }

}  


