@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:ital,wght@0,300;0,400;1,300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  body {
    min-width: 320px;
  }
  .header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    z-index: 5;
  }
  .header .header-text {
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #08a6e4;
    display: inline-block;
    margin: 16px 25px;
  }
  .header-button {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  .header-button img:nth-child(2) {
    display: none;
  }
  .menu input[type=checkbox] {
    display: none;
  }
  .menu input[type=checkbox]:checked + .header-button img:nth-child(1) {
    display: none;
  }
  .menu input[type=checkbox]:checked + .header-button img:nth-child(2) {
    display: block;
  }
  .menu-items {
    display: none;
  }
  .menu-items a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
  }
  .menu-items a:hover {
    color: #000000;
    font-weight: bold;
  }
  .menu-items li {
    padding: 14px 0px 0px 25px;
  }
  input[type=checkbox]:checked ~ .menu-items {
    display: block;
    position: absolute;
    height: 163px;
    top: 60px;
    left: 0;
    width: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    list-style-type: none;
  }
  .title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-top: 170px;
  }
  .title p:nth-child(1) {
    font-family: "raleway", sans-serif;
    font-size: 35px;
    line-height: 41px;
  }
  .title p:nth-child(2) {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 20px 33px 28px;
  }
  .title .title-button {
    height: 67px;
    width: 90%;
    background: #08A6E4;
    border: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    cursor: pointer;
  }
  .title .title-button p {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  .background div {
    width: 100%;
    height: 267px;
    background-image: url(./img/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 51px;
  }
  .background p {
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 13px 36px 25px;
  }
  .vector {
    text-align: center;
  }
  .vector .vector-number {
    font-family: "Raleway";
    font-weight: bolder;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5.96px;
    margin: 14px 0 19px;
  }
  .vector .vector-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 25px;
  }
  .vector .daily-img, .vector .daily-img2, .vector .daily-img3 {
    position: relative;
  }
  .vector .daily-img img:first-child,
  .vector .daily-img2 img:first-child,
  .vector .daily-img3 img:first-child {
    display: block;
    margin: 0 auto;
  }
  .vector .daily-img img:last-child {
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 1;
  }
  .vector .daily-img2 img:last-child {
    position: absolute;
    bottom: 19%;
    left: 47%;
    z-index: 1;
  }
  .vector .daily-img3 img:last-child {
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 1;
  }
  .article-first {
    height: 370px;
    border: 1px solid #E8E9ED;
    margin: 42px 30px 0;
    border-radius: 5px;
    position: relative;
  }
  .article-first .first-img-1 {
    position: absolute;
    top: 37px;
    right: 25%;
    z-index: 1;
  }
  .article-first .first-img-2 {
    position: absolute;
    top: 15px;
    right: 25%;
    border-radius: 41px;
  }
  .article-first .first-img-3 {
    position: absolute;
    top: 19px;
    right: 50px;
    z-index: 1;
  }
  .article-first .first-img-4 {
    position: absolute;
    top: 15px;
    right: 93px;
  }
  .article-first h4 {
    height: 72px;
    width: 80%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 174px 94px 10px 22px;
  }
  .article-first p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0 21px 30px;
  }
  .article-first-text {
    height: 100%;
    border: 1px solid #E8E9ED;
    margin: 42px 30px 0;
    border-radius: 5px;
    position: relative;
  }
  .article-first-text .brand-title {
    margin: 31px 20px 20px;
  }
  .article-first-text .brand-text {
    margin: 0px 20px 24px;
  }
  .article-first-text h4 {
    width: 80%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 174px 94px 10px 22px;
  }
  .article-first-text p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0 21px 30px;
  }
  .article-trumpet {
    position: relative;
    margin: 0px 30px 100px;
    background-color: #55DFB4;
    border-radius: 5px;
  }
  .article-trumpet .first-img-6 {
    margin-top: 25px;
    width: 90%;
    max-width: 350px;
  }
  .price {
    position: relative;
  }
  .price h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 14px;
  }
  .price .price-basic {
    position: relative;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    margin: 0px 11% 54px;
    display: table;
    width: 75%;
    padding: 25px 0;
  }
  .price .price-basic div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .price .price-basic .basic-number {
    text-align: center;
  }
  .price .price-basic .basic-number h5 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13253B;
  }
  .price .price-basic .basic-number .cost {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #FB3B64;
  }
  .price .price-basic .basic-number .offer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #13253B;
  }
  .price .price-basic .basic-text {
    text-align: left;
  }
  .price .price-basic .basic-text li {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;
    margin-bottom: 20px;
  }
  .price .price-basic .basic-text img {
    width: 14px;
    margin-right: 10px;
  }
  .price .basic-button {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    background: #EB476E;
    border: 1px solid #FB3B64;
    border-radius: 23px;
    cursor: pointer;
  }
  .price .basic-button p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .price .price-professional {
    position: relative;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
    margin: 0px 5% 54px;
    display: table;
    width: 87%;
    padding: 50px 0;
  }
  .price .price-professional div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .price .price-professional .professional-number {
    text-align: center;
  }
  .price .price-professional .professional-number h5 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13253B;
  }
  .price .price-professional .professional-number .cost {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #07ACE6;
  }
  .price .price-professional .professional-number .offer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #13253B;
  }
  .price .price-professional .professional-text {
    text-align: left;
  }
  .price .price-professional .professional-text li {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;
    margin-bottom: 20px;
  }
  .price .price-professional .professional-text img {
    width: 14px;
    margin-right: 10px;
  }
  .price .price-professional .professional-button {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    background: #07ACE6;
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 23px;
    cursor: pointer;
  }
  .price .price-professional .professional-button p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .price .price-premium {
    position: relative;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    margin: 0px 11% 54px;
    display: table;
    width: 75%;
    padding: 25px 0;
  }
  .price .price-premium div {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .price .price-premium .premium-number {
    text-align: center;
  }
  .price .price-premium .premium-number h5 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13253B;
  }
  .price .price-premium .premium-number .cost {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    color: #55DFB4;
  }
  .price .price-premium .premium-number .offer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #13253B;
  }
  .price .price-premium .premium-text {
    text-align: left;
  }
  .price .price-premium .premium-text li {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    list-style-type: none;
    margin-bottom: 20px;
  }
  .price .price-premium .premium-text img {
    width: 14px;
    margin-right: 10px;
  }
  .price .price-premium .premium-button {
    position: absolute;
    bottom: -25px;
    left: 25%;
    width: 50%;
    height: 50px;
    background: #55DFB4;
    border: 1px solid #55DFB4;
    border-radius: 23px;
    cursor: pointer;
  }
  .price .price-premium .premium-button p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .form {
    position: relative;
    margin-left: 8%;
  }
  .form h2 {
    margin: 50px 0px 5px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
  }
  .form p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 38px;
  }
  .form .contact {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #A5A5A5;
    margin-bottom: 17px;
  }
  .form .contact img {
    margin-right: 11px;
  }
  .form label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-bottom: 42px;
  }
  .form input {
    margin: 42px 0px;
    border: none;
    border-bottom: 1px solid #95989A;
  }
  .form .protect {
    position: relative;
    display: table;
    width: 85%;
  }
  .form .check-protect {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
  }
  .form .text-protect {
    height: 144px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #707070;
    display: table-cell;
    vertical-align: middle;
    width: 95%;
  }
  .form #button-send {
    height: 57px;
    width: 60%;
    background: #08A6E4;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 35px;
    margin: 33px 0px 0px 31%;
    cursor: pointer;
  }
  footer {
    position: relative;
    width: 100%;
    height: 89px;
    left: 0px;
    bottom: 0px;
    margin-top: 44px;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  }
  footer p:nth-child(1) {
    font-family: "raleway", sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #08A6E4;
    display: inline-block;
    margin: 22px 0px 0px 5%;
  }
  footer p:nth-child(2) {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    margin-left: 5%;
  }
  footer .social {
    position: absolute;
    top: 33px;
    right: 30px;
  }
  footer .social img {
    margin: 0px 5px 0px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */